<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"  
	xmlns:h="http://java.sun.com/jsf/html">
 	
  <h:form>  
              
    <p:growl id="messages"/>  
     
    
    <p:slideMenu style="width:200px;height:310px">  
    
    	         <p:submenu label="Ticket" icon="ui-icon-star">  
            <p:menuitem value="New Passager" action="add" update="messages" icon="ui-icon-disk"/>  
            <p:menuitem value="Show" action="showClients" update="messages" icon="ui-icon-arrowrefresh-1-w"/>
 			<p:menuitem value="Book a ticket" action="order"  update="messages" icon="ui-icon-extlink"/> 	       
        </p:submenu>  
        <p:submenu label="Show departures" icon="ui-icon-home">  
            <p:menuitem value="Flights"   ajax="false" action="showPlane" icon="ui-icon-arrowrefresh-1-w"/>  
        </p:submenu>  
        <p:submenu label="Links" icon="ui-icon-extlink">  
            
                <p:menuitem value="Lot" url="http://www.lot.com" />  
                <p:menuitem value="Wizzair" url="http://wizzair.com" /> 
                <p:menuitem value="Emirates" url="www.emirates.com/‎" />
                <p:menuitem value="BritishAirWays" url="www.britishairways.com/" /> 
           		<p:menuitem value="Lufthansa" url="www.lufthansa.com/" />
       
        </p:submenu>  
    </p:slideMenu>  
  
</h:form>  
</ui:composition>