<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/templates/default.xhtml"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:p="http://primefaces.org/ui"  
	xmlns:rich="http://richfaces.org/rich">
	

	<ui:define name="content">
		<h:form id="form">  
  
    <p:panel id="panel" header="New Passager">  
  
        <p:messages id="msgs"/>  
  
        <h:panelGrid columns="3">  
            <h:outputLabel for="firstname" value="Firstname: *" />  
            <p:inputText id="firstname" value="#{clientBean.client.firstName}" required="true" label="Firstname">  
                <f:validateLength minimum="2" />  
            </p:inputText>  
            <p:message for="firstname" display="icon"/>  
  
            <h:outputLabel for="surname" value="Surname: *" />  
            <p:inputText id="surname" value="#{clientBean.client.surName}" label="Surname" required="true">  
                <f:validateLength minimum="2" />  
                <p:ajax update="msgSurname" event="keyup" />  
            </p:inputText>  
            <p:message for="surname" id="msgSurname" display="icon"/>  
  
  			  <h:outputLabel for="pesel" value="Pesel: *" />  
            <p:inputText id="pesel" value="#{clientBean.client.pesel}" label="Pesel" required="true">  
                <f:validateLength minimum="8" />  
            </p:inputText>  
            <p:message for="pesel" id="msgPesel" display="icon"/> 
        </h:panelGrid>  
        
      		
        <p:commandButton id="btn" value="Save" update="panel" actionListener="#{clientBean.addClient}" action="showClients?faces-redirect=true"/>  
    </p:panel>  
  
</h:form>  
	
	
	
	
	
	</ui:define>
</ui:composition>
