<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" 
	template="/templates/default.xhtml">

	<ui:define name="content">
	
	<h:form prependId="false">  
  
    <p:dataTable id="dataTable" var="item" value="#{planeBean.allPlane}">  
  
        <f:facet name="header">  #{msg.planeAll}  </f:facet>  
  
        <p:column>  
            <f:facet name="header"> #{msg.planeId} </f:facet>  
  
            <h:outputText value="#{item.id}" />  
            
        </p:column>  
  
        <p:column headerText="Name">  
            <h:outputText value="#{item.name}" />  
        </p:column>  
  
        <p:column headerText="Cena">  
            <h:outputText value="#{item.cena}" />  
        </p:column>  
          
          
    </p:dataTable>  
  
</h:form>  
	</ui:define>

</ui:composition>


