<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title><ui:insert name="windowTitle">#{msg.mainWindowTitle}</ui:insert></title>
	
</h:head>
<h:body>
	<h:outputStylesheet library="css" name="style.css" target="body" />
	<div id="container">
		<div id="logo">
		</div>
		<div id="left">
			<div id="menu2">
			<ui:insert name="menu">
         <ui:include src="/views/main/menu.xhtml" />
       </ui:insert>
				
			</div>
			
			<div class="clear">&nbsp;</div>
		</div>
		<div id="right">
			<div id="tresc">
				<div class="nagl">#{msg.mainHeading}</div>
				<ui:insert name="content" />
			</div>
		</div>
		<div id="stopka">All right reserved</div>
	</div>
</h:body>
</html>